/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #000000;
  }
  
  /* Navigation bar styles */
  .navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  
  .navbar .logo h1 {
    color: #020202;
    font-size: 2.8rem;
    letter-spacing: 2px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #070606;
    font-size: 1.1rem;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
  }
  
  .nav-links li a:hover {
    background-color: #0e0d0d; /* Hover effect color */
  }
  
  /* Services Section styles */
  .services-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fffefe;
  } .services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #080808;
  }
  
  .services-section p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .service-card {
    background-color: #e7e3e3;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(240, 238, 238, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
  }
  
  .service-card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;}
  .service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .service-card p {
    font-size: 1rem;
    color: #000000;
  }
  
  /* Footer styles */
  footer {
    background-color: #585656;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #110f0f;
    text-decoration: none;
  }
  
  /* Responsive design for mobile */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .nav-links {
      width: 100%;
      flex-direction: column;
      margin-top: 10px;
    }
    
    .nav-links li {
      margin-left: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
    
    .services-container {
      grid-template-columns: 1fr 1fr;
    }
    
    .service-card {
      width: 150%;
    }
  }
  